#posts-view {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: white;
	transition: left 0.3s ease, right 0.3s ease; /* todo needs prefixes */
}
#posts-view.flyout {
	left: 200px;
	right: -200px;
	box-shadow: 0px 0px 3px 0px black /* todo needs prefixes */
}

#posts {
	overflow-y: scroll;
	max-height: calc(100% - 100px);
}

.post .message {
	font-style: italic;
	padding-left: 10px;
}

.post:first-child {
	border-top: none;
}
.post {
	border-top: 1px solid gray;
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
}
.post img {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-right: 10px;
}
.post .details {
	display: inline-block;
	height: 200px;
	vertical-align: top;
	margin-right: 10px;
}